/* GLOBAL */

body {
	background-image: url('images/grass.jpg');
	background-attachment: fixed;
 	background-size: cover;
    }

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    }

#images {
    position: relative;
    align-self: stretch;
    }

.nav {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: whitesmoke; 
    opacity: 0.8;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    }

.nav li {
    font-size: 80%;
    color: #36454F;
    display: inline-block;
    }

#current {
    color: white;
    background-color:#36454F;
    opacity: 0.7;
    }

/* CART PAGE */

  #whiteBox {
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

#template {
      display: none;
    	}

.total {
  display: flex;
  color: #36454F;
  font-weight: 700;
  font-size: 100%;
  padding: 2px;
  justify-content: center;
  align-items: center;
	}

.small {
	width: 100%;
	text-align: center; 
	color: #36454F; 
	font-weight: 300;
	font-size: 70%;
	padding: 2px;
	}
		
.typing{
    display: flex;
    color: #36454F;
    font-weight: 700;
    font-size: 100%;
    padding: 2px;
    justify-content: center;
    align-items: center;
  }

  /* Shopping cart product card */ 
  
.cart-card {
      display: flex;
      width: 98%;
      height: 50px;
      align-items: center;
      object-fit: contain;
      background-color: white;
      margin: 1%;
      padding: 1px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.thumb-image {
      height: 45px;
      width: 45px;
      object-fit: contain;
    }

.names {
      flex-direction: column;
      width: 30%;
      font-size: 70%;
      margin: 3%;
    }

.product-name {
      opacity: 0.5;
      padding: 2px;
    }

.item-name {
      padding: 2px;
    }

#line {
      flex-direction: column;
      height: 80%;
    }

.info {
    flex-direction: column;
    font-size: 70%;
    opacity: 0.8;
    width: 30%;
    margin: 3%;
    }
  
.number {
      padding: 2px;
    }

.size {
      padding: 2px;
    }

.price {
      font-weight: 900;
      font-size: 80%;
      padding: 10px;
    }

.delete-button {
    position: relative;
    background: none;
    color: transparent;  
    text-shadow: 0 0 0 darkred;
    border: none;
    padding: 0;
    cursor: pointer;
    }

.buttons{
      display: flex;
      justify-content: center;
    }
  
#Submit {
      width: 40%;
      height: 30px;
      font-size: 80%;
      font-weight: 700;
      color: black;
      position: relative;
      margin: 3%;
      background-color: #FFD700;
      border-color: transparent;
      border-radius: 5px;
      cursor: pointer;
      padding: 3px;
    }

#BackButton {
      width: 40%;
      height: 30px;
      font-size: 80%;
      font-weight: 700;
      color: black;
      position: relative;
      margin: 3%;
      background-color: #BF565A;
      border-color: transparent;
      border-radius: 5px;
      cursor: pointer;
      padding: 3px;
  	}

/* creating css loader */

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #f2d241;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
